<a href="https://colab.research.google.com/github/Jasmithanalla/ICP-2/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [2]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [3]:
def first_word(words):
    sorted_words = sorted(words)
    return sorted_words[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [4]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count


class FulltimeEmployee(Employee):
    pass


# Create instances
e1 = Employee("John", "Doe", 50000, "HR")
e2 = Employee("Jane", "Smith", 60000, "Finance")
f1 = FulltimeEmployee("Alice", "Brown", 70000, "IT")

# Call member functions
print(f"Total Employees: {Employee.employee_count}")
print(f"Average Salary: {Employee.average_salary():.2f}")
print(f"Fulltime Employee: {f1.name} {f1.family}, Department: {f1.department}, Salary: {f1.salary}")

Total Employees: 3
Average Salary: 60000.00
Fulltime Employee: Alice Brown, Department: IT, Salary: 70000